.ios,.md{
    page-login {
        scroll-content{
            display: flex;
            flex-direction: column;
        }
        ion-grid{
            height: 100%;
            padding: 0;
            .flex{
            flex: 3;
            }
            .flex-big{
                color: white; 
                text-align: center;
                flex: 6;
            }
            .input-row{
                border: solid gray 1px;
            }
            .border-right{
                border-right: 1px solid gray
            }
        }
        .non{
            button{
                margin: 0;
                padding: 0;
                height: 20px;
                width: 20px;
            }
        }
        ion-icon{
            font-size: 32pt;
        }
        ion-input{
            font-size: 16pt;
        }
    }
    .login-input{
        input{
            display: inline-block !important;
            margin-left: 0 !important;
            margin-right: 5px !important;
            padding-left: 0 !important;
            padding-right: 5px !important;
        }
    }
    .input-col{
        max-width: 60px;
    }
    .login-button{
        width: 100%; 
        height: 60px; 
        border-radius: 20px; 
        background-color: #f48a00; 
        margin-top: 20px; 
        font-size: 20pt; 
        color: white;
    }
    .padding-row{
        padding-top: 40px;
    }
    .link{
        color: black; 
        text-decoration: underline;
    }
    .half-height{
        height: 50%;
    }
    .full-height{
       height: 40px;
    }
    .input-top{
        height: 50%; 
        border-bottom: 1px solid white;
    }
    .input-section{
        max-height: 150px; 
        height: 33%; 
        border-radius: 20px; 
        border: solid white 1px; 
        background-color: #3fbc05; 
        text-align: left;
    }
    .main-col{
        max-width: 500px; 
        text-align: center; 
        margin-left: auto; 
        margin-right: auto
    }
}
