<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>550547782302-p57s2ronom31n4l1v8rj6hped9nn9e3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550547782302-p57s2ronom31n4l1v8rj6hped9nn9e3u</string>
	<key>API_KEY</key>
	<string>AIzaSyCacfYyHhzQPU-EFZ6-0SgyBFJZS-Sbb6o</string>
	<key>GCM_SENDER_ID</key>
	<string>550547782302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mzap.mzap</string>
	<key>PROJECT_ID</key>
	<string>mzap-45cd2</string>
	<key>STORAGE_BUCKET</key>
	<string>mzap-45cd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:550547782302:ios:f71a0aec03a691d8</string>
	<key>DATABASE_URL</key>
	<string>https://mzap-45cd2.firebaseio.com</string>
</dict>
</plist>