<div id="shader" (click)="closeOut()"></div>
<div id="main" #main>
    <ion-grid class="nav-buttons">
        <ion-row>
            <ion-col text-center>
                <button ion-button clear (click)="closeOut()">
                    <img src="assets/images/buttons/ex.png" />
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="show">
        <ion-grid>
            <ion-row *ngIf="!userInfo.isApp">
                <!-- <ion-col text-center>
                    <a [href]="twitter">
                        <ion-icon name="logo-twitter" style="color: #00aced; font-size: 24pt"></ion-icon>
                    </a>
                </ion-col>
                <ion-col text-center>
                    <a [href]="facebook">
                        <ion-icon name="logo-facebook" style="color: #3b5998; font-size: 24pt"></ion-icon>
                    </a>
                </ion-col>
                <ion-col text-center>
                    <a href="whatsapp://send" data-href="mzap.org">
                        <ion-icon name="logo-whatsapp" style="color: #34af23; font-size: 24pt"></ion-icon>
                    </a>
                </ion-col> -->
                <!-- <ion-col>

                </ion-col> -->
            </ion-row>
            <ion-row *ngIf="userInfo.isApp">
                <ion-col text-center>
                    <button ion-button icon-only clear (click)='shareTwitter()'>
                        <ion-icon name="logo-twitter" style="color: #00aced; font-size: 24pt"></ion-icon>
                    </button>
                </ion-col>
                <ion-col text-center>
                    <button ion-button icon-only clear (click)='shareFacebook()'>
                        <ion-icon name="logo-facebook" style="color: #3b5998; font-size: 24pt"></ion-icon>
                    </button>
                </ion-col>
                <ion-col text-center>
                    <button ion-button icon-only clear (click)='shareWhatsapp()'>
                        <ion-icon name="logo-whatsapp" style="color: #34af23; font-size: 24pt"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</div>