<div id="shader" (click)="closeOut()"></div>
<div id="main" #main>
    <div class="type" style="right: 0">
        <button ion-button clear icon-only (click)="doShipTutorial()">
            <img src="assets/images/icons/question.png" width="50px" alt="type" />
        </button>
    </div> 
    <ion-grid class="nav-buttons">
        <ion-row>
            <ion-col text-center>
                <button ion-button clear (click)="closeOut()">
                    <img src="assets/images/buttons/ex.png" />
                </button>
            </ion-col>
            <ion-col text-center>
                <button ion-button clear (click)="markShip()">
                    <img src="assets/images/buttons/check.png" />
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="hidden" [class.show]="true">
        <div id="current-time">{{translate.text.shipReport.time}} <span>{{myTime}}</span></div>
        <div id="select-div">
            <ion-item>
                <ion-label>{{translate.text.shipReport.ferry}}</ion-label>
                <ion-select [(ngModel)]="ship" multiple="false">
                    <ion-option value="ship1">Cayo Blanco</ion-option>
                    <ion-option value="ship2">Cayo Largo</ion-option>
                    <ion-option value="ship3">Cayo Norte</ion-option>
                    <ion-option value="ship4">Isleño</ion-option>
                    <ion-option value="ship5">Schoodic Explorer</ion-option>
                    <ion-option value="ship6">Big Cat</ion-option>
                    <ion-option value="ship7">Mr. Vean</ion-option>
                    <ion-option value="ship8">Mr. Cade</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>{{translate.text.shipReport.start}}</ion-label>
                <ion-select [(ngModel)]="start" multiple="false">
                    <ion-option value="faj">FAJARDO</ion-option>
                    <ion-option value="vq">VIEQUES</ion-option>
                    <ion-option value="cul">CULEBRA</ion-option>
                    <ion-option value="cei">CEIBA</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>{{translate.text.shipReport.end}}</ion-label>
                <ion-select [(ngModel)]="end" multiple="false">
                    <ion-option value="faj">FAJARDO</ion-option>
                    <ion-option value="vq">VIEQUES</ion-option>
                    <ion-option value="cul">CULEBRA</ion-option>
                    <ion-option value="cei">CEIBA</ion-option>
                </ion-select>
            </ion-item>
        </div>
    </div>
    <div class="hidden" [class.show]="false">
        <!-- <confirm></confirm> -->
    </div>
</div>