<div id="shader" (click)="closeOut()">

</div>
<div id="main">
  <div class="dismiss" (click)="closeOut()">
    <p>X</p>
  </div>
  <div class="type" *ngIf="checkState('info')" [class.todo]="userInfo.activeData.status == 'To Do'">
    <img [src]="selection" alt="type" /> <p>{{status}}</p>
  </div>
  <div style="height: 100%; width: 100%; overflow: scroll">
    <info-view *ngIf="checkState('info')"></info-view>
    <comment-view *ngIf="checkState('comment')"></comment-view>
    <div *ngIf="checkState('edit')">
      <edit-view *ngIf="edit"></edit-view>
      <resolve *ngIf="!edit"></resolve>
    </div>
  </div>
  <div id="nav-grid">
      <ion-grid no-padding>
        <ion-row>
          <ion-col text-center [class.active]="checkState('info')">
            <button clear ion-button (click)="updateState('info')" text-wrap>{{translate.text.infoWindow.info}}</button>
          </ion-col>
          <ion-col text-center [class.active]="checkState('comment')">
            <button clear ion-button (click)="updateState('comment')" text-wrap>{{translate.text.infoWindow.notes}}</button>
          </ion-col>
          <ion-col text-center [class.active]="checkState('edit')">
            <button clear ion-button (click)="updateState('edit')" text-wrap>{{translate.text.infoWindow.edit}}</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</div>
