// @keyframes posRotate {
//     0%      {transform: rotate(90deg); transform-origin: top left;}
//     100%    {transform: rotate(0deg); transform-origin: top left;}
// }
// @keyframes negRotate {
//     0%      {transform: rotate(0deg); transform-origin: top left;}
//     100%    {transform: rotate(-90deg); transform-origin: top left;}
// }
@keyframes posRotate {
    0%      {transform: translate(-50%, 100%);}
    100%    {transform: translate(-50%, -50%);}
}
@keyframes negRotate {
    0%      {transform: translate(0,0);}
    100%    {transform: translate(100%,0);}
}
.ios, .md{
    info {
        width: auto;
        .dismiss{
            display: table;
            position: absolute;
            z-index: 12;
            background-color: red;
            color: white;
            right: 0;
            top: 0;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            text-align: center;
            padding: 4px;
            transform: translate(50%,-50%);
            p{
                position: relative;
                display: table-cell;
                text-align: center;
                vertical-align: middle;
            }
        }
        #shader{
            width: 100vw;
            height: 100vh;
            position: absolute;
            z-index: 5;
            background-color: black;
            opacity: .7;
            transform: translate(-50%, -50%);
            overflow: hidden;
        }
        .main{
            opacity: 1 !important;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%) !important;
            transition: all .8s;
        }
        .section{
            pointer-events: all;
            opacity: 0;
            left: 50%;
            top: 50%;
            z-index: 10;
            display: inline-block;
            padding: 0;
            position: absolute;
            background-color: white;
            transform: translate(-50%,80%);
            padding: 20px;
            width: 300px;
            height: 450px;
            @media screen and (min-device-width: 360px) {
                width: 300px;
                height: 500px;
            }
            @media screen and (min-device-width: 500px) {
                width: 400px;
                height: 700px;
            }
            @media screen and (min-device-width: 800px) {
                width: 500px;
                height: 800px;
            }
            -webkit-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.7);
            -moz-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.7);
            box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.7);
            animation: posRotate .5s;
        }
        .resolve{
            height: 400px !important;
            @media screen and (min-device-width: 360px) {
                height: 400px !important;
            }
            @media screen and (min-device-width: 500px) {
                height: 500px !important;
            }
            @media screen and (min-device-width: 800px) {
                height: 600px !important;
            }
            transition: all .5s;
        }
        .type{
            position: absolute;
            transform: translate(0,-40%) scale(1); 
            z-index: 10;
            transition: all .5s;
        }
        .hideType{
            transform: translate(0,-40%) scale(0) !important; 
            transition: all .5s !important;
        }
        #nav-grid{
            width: 100%;
            left: 0;
            bottom: 0;
            position: absolute;
            transform: translateY(99%);
            ion-grid{
                ion-col{
                    padding: 5px;
                    margin-left: 5px;
                    margin-right: 5px;
                    background-color: #ddd;
                    color: black;
                    button{
                        margin: 0;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
        .active{
            background-color: white !important;
        }
        .todo{
            background-color: #f48a00 !important;
        }
        .button-ios{
            padding: 0;
        }
        .button-md{
            padding: 0;
        }
        .chat{
            z-index: 10;
            width: 100%;
            padding: 0;
            margin: 0;
            position: fixed;
            display: block;
            bottom: 0;
            left: 0;
            border-top: #ddd solid 1px;
            ion-grid{
                padding: 0;
                margin: 0;
                
                ion-row{
                    position: relative;
                    background-color: white;
                    padding: 5px 0px;
                    padding-bottom: 2em;
                    ion-col{
                        padding: 0 10px;
                        button{
                            height: 100%;
                        }
                        div{
                            border: 1px solid #999;
                            border-radius: 10px;
                            padding-left: 5px;
                            padding-right: 5px;
                            background-color: white;
                        }
                        textarea{
                            background: none;
                            border: none;
                            width: 100%;
                            resize: none;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
        .hidden{
            transform: scale(0) !important;
            transition: all .5s;
        }
        .show{
            transform: scale(1);
            transition: all .5s;
        }
        .check-button{
            padding: 0;
            z-index: 15;
            height: auto;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%,55%);
            ion-col{
                padding: 0;
                button{
                    height: auto;
                }
                img{
                    width: 80%;
                }
            }
            transition: all .5s;
        }
        .page{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
        }
        .negRotate{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 0;
            transform: translate(100%,0); 
            animation: negRotate 1s;
        }
        .full{
            z-index: 100;
            top: -50%;
            transform: translate(-50%,-50%);
            width: 100vw;
            height: 100vh;
            position: absolute;
            overflow: hidden;
        }
        .no-click{
            pointer-events: none;
        }
    }
}