.ios, .md{
    page-profile {
        ion-content{
            color: white;
            background: rgb(6,174,213); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(6,174,213,1) 0%, rgba(8,103,136,1) 99%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(6,174,213,1) 0%,rgba(8,103,136,1) 99%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(6,174,213,1) 0%,rgba(8,103,136,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06aed5', endColorstr='#086788',GradientType=0 ); /* IE6-9 */
        }
        .stat-div{
            background-color: white;
            color: black;
            h2{
                margin: 0;
            }
            p{
                margin: .5em;
                height: 1.5em;
            }
        }
        .image-div{
            margin: 10px auto;
            width: 100px;
            height: 100px;
            position: relative;
            border-radius: 100%;
            overflow: hidden;
            background-size: cover;
            background-position: center center;
            -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
        }
        ion-grid{
            ion-row{
                ion-col{
                    p{
                        margin: 0;
                    }
                }
            }
        }
        .flex-row{
            padding-bottom: 10px;
            ion-col{
                display: flex;
                flex-direction: column;
                padding: 0;
                ion-item{
                    padding: 0;
                    flex: 1;
                }
            }
        }
    }
}