<div id="main-confirm">
  <!-- <ion-grid no-padding>
    <ion-row text-center>
      <ion-col class="image-col">
        <div class="full">
          <div class="image-div" [class.smaller]="add.desc.length < 1">
            <div class="inner-image-div">            
              <img #preview [class.hidden]="!add.dataSet" width="100%"/>
            </div>
            <img #type class="type" [class.hidden]="add.type == undefined"/>
          </div>
        </div>
      </ion-col>
      <ion-col class="desc" *ngIf="add.desc.length > 0" col-6>
        <p>{{add.desc}}</p>
      </ion-col>
    </ion-row>
    <ion-row class="auto">
      <ion-col>
        <div class="show" *ngIf="add.show"><p>{{translate.text.add.show}}</p></div>
        <div class="show" *ngIf="!add.show"><p>{{translate.text.add.noShow}}</p></div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p *ngIf="!add.submit()" class="error" (click)="add.goToSlide()" style="border: 1px solid red; border-radius: 5px;">{{add.error}}</p> -->
  <div class="check-input" *ngFor="let check of add.checks">
    <div class="remove" *ngIf="add.checks.length > 1">
      <div class="image-holder" (click)="add.checks.splice(add.checks.indexOf(check),1)">
        <ion-icon name="remove"></ion-icon>
      </div>
    </div>
    <ion-input type="text" maxlength="40" [(ngModel)]="check.text"></ion-input>
  </div>
  <button ion-button [disabled]="add.checks[add.checks.length-1].text.length < 1" (click)="add.checks.push({text: '', state: false})" class="add">
    <ion-icon name="add"></ion-icon>
  </button>
</div>
