@keyframes rotate {
    0%      {transform: translate(-50%,-50%) rotate(90deg);}
    100%    {transform: translate(-50%,-50%) rotate(0deg);}
}
.ios, .md{
    .slide-zoom{
        width: 100%;
        height: 100%;
    }
    confirm {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        #main-confirm{
            position: absolute;
            top: 0;
            left: 0;
            padding: 20px 20px;
            padding-bottom: 60px;
            margin: 0;
            width: 100%;
            height: 100%;
            overflow: scroll;
            .check-input{
                position: relative;
                display: flex;
                flex-direction: row;
                padding: 5px 0;
                .num-holder{
                    padding: 0;
                    padding-left: 5px;                    
                    ion-input{
                        text-align: center;
                        height: 100%;
                        width: 60px;
                        margin: 0;
                        input{
                            text-align: center;
                        }
                    }
                }
                .remove{
                    vertical-align: middle;
                    display: inline-block;
                    position: relative;
                    height: 100%;
                    width: 40px;
                    .image-holder{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        width: 20px;
                        height: 20px;
                        background-color: red;
                        border-radius: 100%;
                        ion-icon{
                            position: absolute;
                            font-size: 1.5em;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            color: white;
                            animation: rotate .5s;
                        }
                    }
                }
                ion-input{
                    flex: 1;
                    vertical-align: middle;
                    display: inline-block;
                    border: solid 1px #ddd;
                    .text-input{
                        margin: 5px 10px;
                        padding-right: 10px;
                    }
                }
            }
            .helper{
                color: #aaa;
                font-style: italic;
                p{
                    margin: 0;
                }
                .number{
                    width: 50px;
                }
            }
            .add-row{
                .left-padding{
                    padding-left: 5px;
                }
                .number{
                    width: 60px;
                    text-align: left;
                    padding: 0;
                    margin: 0;
                    height: 100%;
                    font-size: 0;
                    .changer{
                        display: inline-block;
                        vertical-align: top;
                        margin: 0;
                        padding: 0;
                        height: 100%;
                        width: 50%;
                        color: black;
                        font-size: 18px;
                        text-align: center;
                    }
                }
            }
            .hidden{
                display: none;
            }
            .add{
                background-color: #3fbc05;
                width: 30px;
                height: 30px;                
                border-radius: 100%;
                padding: 0;
                margin: 0;
                ion-icon{
                    font-size: 1.5em;
                }
            }
            .preset{
                position: relative;
                display: flex;
                flex-direction: row;
                padding: 5px 0;
                .num-holder{
                    padding: 0;
                    padding-left: 5px;                    
                    ion-input{
                        text-align: center;
                        height: 100%;
                        width: 60px;
                        margin: 0;
                        border: solid 1px #ddd;
                        input{
                            text-align: center;
                        }
                    }
                }
                ion-input{
                    flex: 1;
                    vertical-align: middle;
                    display: inline-block;
                    border: solid 1px #ddd;
                    .text-input{
                        margin: 5px 10px;
                        padding-right: 10px;
                    }
                }
                p{
                    margin: 0;
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    text-align: center;
                    transform: translate(0,-50%);
                    font-size: 10pt;
                }
            }
            // .smaller{
            //     max-width: 50%;
            //     margin-top: 10px;
            // }
        }
    }
}