.ios, .md{
    .slide-zoom{
        width: 100%;
        height: 100%;
    }
    confirm {
        display: block;
        position: absolute;
        width: 100%;
        height: 67%;
        padding: 0;
        margin: 0;
        bottom: 0;
        left: 0;
        #main-confirm{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%,-50%);
            padding: 0 1em;
            padding-bottom: 20px;
            ion-item{
                border: none;
                padding: 0 !important;
                margin: 0;
                .item-inner{
                    padding: 0 !important;
                    margin: 0;
                    border: none !important;
                }
            }
        }
        .show{
            text-align: center;
            color: #3fbc05;
            border-top: 1px solid #eee !important;
            border-bottom: 1px solid #eee !important;
            p{
                margin: .5em 0;
            }
        }
        .red-text{
            color: color($colors,main) !important;
        }
    }
}
