<div class="pic-component-div" [class.data-set]="add.dataSet">
    <ion-grid no-padding>
        <ion-row [class.hidden]="userInfo.isApp">
            <ion-col col-6 text-center>
                    <img src="assets/new/camera.png"/>
                <label>
                    <input #file type="file" accept="image/*" capture="camera" class="fileInput"/>
                </label>
            </ion-col>
            <ion-col col-6 text-center>
                    <img src="assets/new/album.png"/>
                <label>
                    <input #file1 type="file" accept="image/*" class="fileInput"/>
                </label>
            </ion-col>
        </ion-row>
        <ion-row [class.hidden]="!userInfo.isApp">
            <ion-col col-6 text-center>
                <button ion-button clear (click)="cameraRequest()">
                    <img src="assets/new/camera.png"/>
                </button>
            </ion-col>
            <ion-col col-6 text-center>
                <button ion-button clear (click)="albumRequest()">
                    <img src="assets/new/album.png"/>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>