.ios, .md{
    picture {
        .data-set{
            height: 66% !important;
            top: 100% !important;
            transform: translate(0,-100%) !important;
        }
        .pic-component-div{
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            ion-grid{
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%,-50%);
                        transform: translate(-50%,-50%);
                height: 100%;
                width: 100%;
                ion-row{
                    height: 100%;
                    position: relative;
                    z-index: 10;
                    img{
                        pointer-events: none;
                        z-index: 0;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%,-50%);
                                transform: translate(-50%,-50%);
                        cursor: pointer;
                    }
                    ion-col{
                        height: 100%;
                        button{
                            pointer-events: all !important;
                            width: 100% !important;
                            height: 100% !important;
                        }
                    }
                    label{
                        pointer-events: all;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 10;
                        margin: 0;
                        padding: 0;       
                        .fileInput{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            z-index: 1;
                        }         
                    }
                }
            }
            .button-ios, .button-md{
                //height: auto;
                padding: 0;
            }
            .hidden{
                -webkit-transform: scale(0);
                        transform: scale(0);
                height: 0 !important;
                padding: 0 !important;
                margin: 0 !important;
                position: absolute !important;
                opacity: 0 !important;
                z-index: -1 !important;
            }
        }
    }
}