.ios, .md{
    resolve {
        ion-slides{
            display: block;
            width: auto;
            height: auto;
            img{
                width: 50%;
            }
        }
    }
}
