.ios, .md{
    page-consent {
        .content{
            width: 100%;
            height: 100vh;
            background: rgb(6,174,213); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(6,174,213,1) 0%, rgba(8,103,136,1) 99%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(6,174,213,1) 0%,rgba(8,103,136,1) 99%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(6,174,213,1) 0%,rgba(8,103,136,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06aed5', endColorstr='#086788',GradientType=0 ); /* IE6-9 */
            .center{
                position: absolute;
                width: 70%;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                .error{
                    margin: 0;
                    color: white;
                    font-style: italic;
                    text-align: center;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 100%;
                    padding-bottom: 10px;
                    transform: translate(-50%, -100%);
                }                
                .image-div{
                    position: relative;
                    margin: 0 auto;
                    background-color: #3fbc05;
                    border-radius: 100%;
                    padding: 5px 30px;
                    padding-top: 10px;
                    margin-bottom: 60px;
                    width: 150px;
                    height: 150px;
                    img{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 135px;
                        display: block;
                        text-align: center;
                        margin: 0 auto;
                    }
                }
                button{
                    color: white;
                    background-color: rgba(0,0,0,0);
                    border-radius: 3px;
                    border: solid white 2px;
                    font-weight: bold;
                    padding: 10px 2px;
                    display: block;
                    width: 200px;
                    margin: 10px auto;
                    text-align: center;
                }
                .need-click{
                    background-color: red !important;
                }
            }
        }
        .options{
            padding-bottom: 20px;
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: #3fbc05;
            p{
                margin: 0;
                color: white;
                font-weight: bold;
                text-align: center;
                position: absolute;
                top: 0;
                left: 50%;
                width: 80%;
                transform: translate(-50%, -150%);
            }
            button{
                font-size: 12pt;
                padding: 5px 2px;
                display: block;
                width: 140px;
                margin: 3px auto;
                text-align: center;
                color: white;
                font-weight: bold;
                background-color: rgba(0,0,0,0);
            }
            .join{
                margin-top: 7px;
                border: solid white 2px;
                border-radius: 3px;
                color: #3fbc05;
                background-color: white;
            }
        }
    }
}
