.ios, .md{
    page-add {
        .submit-button{
            width: 100%; 
            height: 60px; 
            border-radius: 10px; 
            background-color: #f48a00; 
            margin-top: 20px; 
            font-size: 20pt; 
            color: white;
        }
    }
}