<ion-header>
    <ion-navbar>
        <ion-grid class="ionic-title">
            <ion-row>
                <ion-col text-left>
                    <ion-buttons start>
                        <button ion-button clear item-start (click)="openMenu()" class='nav-burg'>
                            <img class="nav-burg" src="assets/hamburger.png" alt="nav"/>
                        </button>
                    </ion-buttons>
                </ion-col>
                <ion-col col-auto class="title">
                    {{translate.text.settings.setting}}
                </ion-col>
                <ion-col text-right>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <button ion-button (click)="logout()" *ngIf="isLoggedIn()">{{translate.text.settings.logout}}</button>
    <button ion-button (click)="goLogin()" *ngIf="!isLoggedIn()">{{translate.text.settings.return}}</button>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label>{{translate.text.settings.lang}}</ion-label>
                    <ion-select [(ngModel)]="language">
                        <ion-option value="en">English</ion-option>
                        <ion-option value="es">Español</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col col-auto>
                <button ion-button clear icon-only (click)="setLang()">
                    <ion-icon name="arrow-round-forward"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
