<ion-header>
    <ion-navbar>
        <ion-grid class="ionic-title">
            <ion-row>
                <ion-col text-left>
                    <ion-buttons start>
                        <button ion-button clear item-start (click)="openMenu()" class='nav-burg'>
                            <img class="nav-burg" src="assets/hamburger.png" alt="nav"/>
                        </button>
                    </ion-buttons>
                </ion-col>
                <ion-col col-auto class="title">
                    {{translate.text.settings.setting}}
                </ion-col>
                <ion-col text-right>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!--
    <button ion-button (click)="logout()" *ngIf="isLoggedIn()">{{translate.text.settings.logout}}</button>
    <button ion-button (click)="goLogin()" *ngIf="!isLoggedIn()">{{translate.text.settings.return}}</button>
    -->
    <div>
        <h2>{{translate.text.settings.notifications}}</h2>
        <ion-item>
            <ion-label>{{translate.text.settings.posts}}</ion-label>
            <ion-toggle color="main" [(ngModel)]="myPost" (ionChange)="toggle()"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>{{translate.text.settings.resolves}}</ion-label>
            <ion-toggle color="main" [(ngModel)]="resolves" (ionChange)="toggle()"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>{{translate.text.settings.comments}}</ion-label>
            <ion-toggle color="main" [(ngModel)]="comments" (ionChange)="toggle()"></ion-toggle>
        </ion-item> 
        <ion-item>
            <ion-label>{{translate.text.settings.likes}}</ion-label>
            <ion-toggle color="main" [(ngModel)]="likes" (ionChange)="toggle()"></ion-toggle>
        </ion-item> 
    </div>
    <button ion-button clear class="language" (click)="setLang()">{{translate.text.other.language}}</button>
    <!--
    <button ion-button (click)="about()">About</button>
    -->
</ion-content>
