<ion-header>
    <ion-navbar>
        <ion-grid class="ionic-title">
            <ion-row>
                <ion-col text-left>
                    <ion-buttons start>
                        <button ion-button clear item-start (click)="openMenu()" class='nav-burg'>
                            <img class="nav-burg" src="assets/hamburger.png" alt="nav"/>
                        </button>
                    </ion-buttons>
                </ion-col>
                <ion-col col-auto class="title">
                    {{translate.text.settings.setting}}
                </ion-col>
                <ion-col text-right>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!--
    <button ion-button (click)="logout()" *ngIf="isLoggedIn()">{{translate.text.settings.logout}}</button>
    <button ion-button (click)="goLogin()" *ngIf="!isLoggedIn()">{{translate.text.settings.return}}</button>
    -->
    <div>
        <h2>Notifications</h2>
        <p class="error">These are not operational yet</p>
        <ion-item>
            <ion-label>Your Posts</ion-label>
            <ion-toggle color="main"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Post Resolutions</ion-label>
            <ion-toggle color="main"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Post Comments</ion-label>
            <ion-toggle color="main"></ion-toggle>
        </ion-item> 
    </div>
    <button ion-button clear class="language" (click)="setLang()">{{translate.text.other.language}}</button>
    <!--
    <button ion-button (click)="about()">About</button>
    -->
</ion-content>
