.ios, .md{
    comment-view {
        .scroll-content{
            padding: 0 !important;
        }
        .messages{
            padding-bottom: 60px;
            display: block;
            position: relative;
            overflow: auto;
            div{ 
                overflow: auto;
                clear: both;
                .message{
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                    width: 90%;
                    background-color: #eee;
                    margin-bottom: 10px;
                    padding: 0;
                    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.37);
                    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.37);
                    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.37);
                    ion-row{
                        text-align: left;
                        padding: 3px;
                    }
                    .header-row{
                        background-color: white;
                        .header-info{
                            display: flex;
                            flex-direction: column;
                            p{
                                flex: 1;
                            }
                        }
                    }
                    .message-row{
                        padding-top: 6px;
                        padding-bottom: 6px;
                    }
                    p{
                        margin: 0;
                    }
                }
            }
        }
        .chat{
            z-index: 100;
            width: 100%;
            padding: 0;
            margin: 0;
            position: fixed;
            display: block;
            bottom: 0;
            left: 0;
            border-top: #ddd solid 1px;
            ion-grid{
                padding: 0;
                margin: 0;
                
                ion-row{
                    position: relative;
                    background-color: white;
                    padding: 5px 0px;
                    ion-col{
                        padding: 0 10px;
                        button{
                            height: 1em;
                        }
                        div{
                            border: 1px solid #999;
                            border-radius: 10px;
                            padding-left: 5px;
                            padding-right: 5px;
                            background-color: white;
                        }
                        textarea{
                            background: none;
                            border: none;
                            width: 100%;
                            resize: none;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
}