.ios, .md{
    comment-view {
        .scroll-content{
            padding: 0 !important;
        }
        .messages{
            padding-bottom: 60px;
            display: block;
            position: relative;
            overflow: auto;
            div{ 
                overflow: auto;
                clear: both;
                .message{
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                    width: 90%;
                    background-color: #eee;
                    margin-bottom: 10px;
                    padding: 0;
                    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.37);
                    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.37);
                    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.37);
                    ion-row{
                        text-align: left;
                        padding: 3px;
                    }
                    .header-row{
                        background-color: white;
                        .header-info{
                            display: flex;
                            flex-direction: column;
                            p{
                                flex: 1;
                            }
                        }
                    }
                    .message-row{
                        padding-top: 6px;
                        padding-bottom: 6px;
                    }
                    p{
                        margin: 0;
                    }
                }
            }
        }
    }
}