<div class="messages">
    <div *ngFor="let message of messages">
        <ion-grid class="message">
            <ion-row class="header-row">
                <ion-col no-padding col-3>
                    <img [src]="message.url" width="40" />
                </ion-col>
                <ion-col no-padding class="header-info">
                    <p><b>{{message.name}}</b></p>
                    <p style="color: #444">{{message.date}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="message-row">
                <ion-col no-padding>
                    <p>{{message.message}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div>
            <p class="name" *ngIf="!checkUid(message.id)">{{message.name}}</p>
        </div>
    </div>
</div>
<div class="chat">
    <ion-grid>
        <ion-row>
            <ion-col>
                <div>
                    <textarea #msg rows="1" (keyup)="resize()" [(ngModel)]="myText" placeholder="Aa" (click)="textClick()" autocorrect="on"></textarea>
                </div>
            </ion-col>
            <ion-col text-center col-auto>
                <button ion-button clear icon-only (click)="submit()">
                    <ion-icon name="send"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>