<div class="messages">
    <div *ngFor="let message of messages">
        <div class="message">
            <p [class.own]="checkUid(message.id)" [class.other]="!checkUid(message.id)">{{message.message}}</p>
        </div>
        <div>
            <p class="name" *ngIf="!checkUid(message.id)">{{message.name}}</p>
        </div>
    </div>
</div>
<div class="chat">
    <ion-grid>
        <ion-row>
            <ion-col>
                <div>
                    <textarea #msg rows="1" (keyup)="resize()" [(ngModel)]="myText" placeholder="Aa" (click)="textClick()"></textarea>
                </div>
            </ion-col>
            <ion-col text-center col-auto>
                <button ion-button clear icon-only (click)="submit()">
                    <ion-icon name="send"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>