.ios, .md{
    page-map {
       height: 100%;
       width: 100%;
    }
    .pop-up{
        width: 400px;
        display: inline-block;
        z-index: 1000;
        position: absolute;
        left: 50%;
        top: 50%;
    }
    .show{
        transform: scale(1);
        transition: all .5s;
    }
    .hidden{
        transform: scale(0);
        transition: all .5s;
    }
}
