.ios, .md{
    page-map {
       height: 100%;
       width: 100%;
    }
    #info{
        width: 400px;
        display: inline-block;
        z-index: 1000;
        position: absolute;
        left: 50%;
        top: 50%;
    }
}
