<ion-content>
    <info class="pop-up" *ngIf="infoShow"></info>
    <add class="pop-up" *ngIf="addShow"></add>
    <share class="pop-up" *ngIf="shareShow"></share>
    <thanks class="pop-up" *ngIf="thanksShow"></thanks>
    <ferry-menu class="pop-up" *ngIf="ferryMenuShow"></ferry-menu>
    <ferry class="pop-up" *ngIf="ferryShow"></ferry>
    <ferry-rating class="pop-up" *ngIf="ferryRatingShow"></ferry-rating>
    <edit-ship class="pop-up" *ngIf="editShip"></edit-ship>
    <login class="pop-up no-scroll" *ngIf="loginShow"></login>
    <!-- *ngIf="!userInfo.loggedIn" -->
    <tutorial class="pop-up" *ngIf="tut"></tutorial>
    <ship-tutorial class="pop-up" *ngIf="shipTut"></ship-tutorial>
    <resolve-tutorial class="pop-up" *ngIf="resolveTut"></resolve-tutorial>
    <report class="pop-up" *ngIf="reportShow"></report>
    <map-view></map-view>
</ion-content>