*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.title, .key{
    display: inline-block;
}
.key .red{
    color: red;
}
.key .blue{
    color: blue;
}
#login{
    width: 100%;
    height: 100vh;
    position: relative;
}
#logout{
    padding: 5px;
    position: absolute;
    right: 20px;
    top: 15px;
}
.login-holder{
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 120px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);    
}
.login-holder input{
    font-size: 16pt;
    margin: 0 auto;
    display: block;
}
.login-holder button{
    padding: 5px;
    margin: 20px auto;
    text-align: center;
    display: block;
    width: 80px;
}
.error{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: -10px;
    text-align: center;
    color: red;
    font-size: 10pt;
}
#app{
    font-size: 0pt;
    display: none;
}
h2{
    padding: 10px;
}
.report{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 5px;
}
.deleted{
    background-color: #faa;
}
.new{
    background-color: rgb(197, 227, 255)
}
p{
    font-size: 12pt;
    margin: 0;
}
p span{
    font-weight: bold;
}
.holder-div{
    font-size: 0;
}
.div-3{
    font-size: 12pt;
    width: 25%;
    display: inline-block;
    vertical-align: top;
}
.div-6{
    font-size: 12pt;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.report button{
    width: 200px;
    padding: 5px;
}
label{
    font-size: 16pt;
    font-weight: bold;
}
input[type='checkbox']{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
input[type='checkbox']:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}
.modal{
    background-color: rgba(0,0,0,.5);
    position: absolute;
    height: 100vh;
    width: 100%;
    display: none;
}
.modal-content .special{
    color: blue;
}
.keyNumber{
    margin-top: 10px;
}
.modal-content{
    padding: 10px;
    background-color: white;
    width: 300px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.modal-content input{
    border: solid 1px greenyellow;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
.modal-buttons{
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
.modal-buttons button{
    padding: 5px;
}
#menu{
    vertical-align: top;
    width: 20%;
    display: inline-block;
    font-size: 12pt;
}
#menu h2{
    background-color: #eee;
    text-align: center;
    border-bottom: 1px solid black;
}
#menu .content{
    border-right: 1px solid black;
    height: 100vh;
}
#menu button{
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #79f132;
    font-weight: bold;
}
#main{
    vertical-align: top;
    width: 80%;
    display: inline-block;
    font-size: 12pt;
}
/* .div-center{
    display: inline-block;
    width: auto;
    margin: 0 auto;
    text-align: center;
} */