<ion-header>

  <ion-navbar>
    <ion-title>{{type}}</ion-title>
    <ion-buttons start>
        <button ion-button clear (click)="dismiss()" style="color: white">X</button>
    </ion-buttons>
    <ion-buttons end *ngIf="checkLogin()">
        <button ion-button clear item-end class='nav-edit' (click)="openEdit()">
            <img class="nav-edit" src="assets/images/buttons/edit.png" alt="nav"/>
        </button>
    </ion-buttons>
  </ion-navbar>
    <ion-toolbar *ngIf="checkLoggedOn()">
        <ion-segment [(ngModel)]="section" color="secondary">
            <ion-segment-button value="info">
                {{translate.text.infoWindow.info}}
            </ion-segment-button>
            <ion-segment-button value="resolve">
                {{translate.text.infoWindow.resolve}}
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div [(ngSwitch)]="section">
        <div *ngSwitchCase="'info'">
            <ion-slides>
                <ion-slide *ngFor="let resolve of resolves">
                    <img src='{{resolve.url}}' alt="Resolve Image" #thisImage (click)="presentImage(thisImage)" />
                    <p>{{resolve.info}}</p>
                </ion-slide>
            </ion-slides>
            <ion-grid *ngIf="resolves.length > 0">
                <ion-row>
                    <ion-col>
                        <button ion-button clear full (click)="slideLeft()">
                            <ion-icon name="arrow-back"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col>
                        <button ion-button clear full (click)="slideRight()">
                            <ion-icon name="arrow-forward"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="status != 'Complete'">
                    <ion-col>
                        <h2 style="color: orange" text-center>{{translate.text.infoWindow.wait}}</h2>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-card>
                <ion-card-header>
                    <h2>{{data.description}}</h2>
                </ion-card-header>
                <ion-card-content>
                    <div text-center *ngIf="data.url">
                        <img [src]="data.url" #thisImage (click)="presentImage(thisImage)" />
                    </div>
                    <p *ngIf="data.show">{{translate.text.infoWindow.author}}{{data.name}}</p>
                    <p *ngIf="!data.show">{{translate.text.infoWindow.noAuthor}}<p>
                    <p>{{translate.text.infoWindow.status}}{{status}}</p>
                </ion-card-content>
            </ion-card>
            <ion-grid *ngIf="checkLogin()">
                <ion-row>
                    <ion-col col-6>
                        <button ion-button color="danger" (click)="showPrompt()" block>{{translate.text.infoWindow.delete}}</button>
                    </ion-col>
                    <ion-col col-6>
                        <button ion-button color="secondary" block (click)="markComplete()" *ngIf="status != 'Complete'">{{translate.text.infoWindow.mark}}</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div *ngSwitchCase="'resolve'">
            <ion-item>
                <ion-label floating>{{translate.text.infoWindow.note}}</ion-label>
                <ion-input type='text' [(ngModel)]="info"></ion-input>
            </ion-item>
            <ion-item>
                {{translate.text.infoWindow.photo}}
                <ion-grid no-padding>
                    <ion-row>
                        <ion-col col-6 no-padding>
                            <button ion-button block clear style="color: black;" (click)="cameraRequest()">
                                <img src="assets/new/camera.png" style="width: 40px; padding-right: 10px;" alt="Camera" />
                                {{translate.text.infoWindow.openCam}}</button>
                        </ion-col>
                        <ion-col col-6 no-padding>
                            <button ion-button block clear style="color: black;" (click)="albumRequest()">
                                <img src="assets/new/album.png" style="width: 40px; padding-right: 10px;" alt="Album" />
                                {{translate.text.infoWindow.openAlb}}</button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <button ion-button (click)="submit()">{{translate.text.infoWindow.resolution}}</button>
        </div>
    </div>
</ion-content>
