.ios, .md{
    info-view {
        @keyframes newMessage {
            0%      {opacity: 0}
            100%    {opacity: 1}
        }
        width: calc(100%);
        height: calc(100%);
        overflow: scroll;
        position: relative;
        display: block;
        .likes{
            display: flex;
            flex-direction: column;
            ion-row{
                flex: 1;
            }
        }
        .row{
            display: flex;
            flex-direction: row;
            ion-row{
                flex: 1;
            }
        }
        #image-grid{
            display: block;
            position: relative;
            height: 10em;
            overflow: hidden;
            img{
                width: 100%;
            }
            h3{
                margin-left: auto;
                margin-right: auto;
            }
        }
        .greenButton{
            color: limegreen;
        }
        .noPic{
            padding: 25px 0;
            padding-bottom: 10px;
            border-bottom: solid #eee 1px;
        }
        .status{
            pointer-events: none;
            position: absolute;
            width: calc(100%) !important;
            background-color: black;
            color: white;
            position: bottom;
            height: 2em;
            font-size: 16pt;
            text-align: center;
            z-index: 1;
            transform: translate(0,-100%);
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%);
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
            p{
                margin: 0;
                padding: 0;
                height: 1em;
                font-size: 16pt;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        #buttons-grid{
            ion-row{
                padding: 5px;
                border-bottom: 1px solid #ddd;
                border-top: 1px solid #ddd;
                button{
                    height: 1em;
                }
                ion-col{
                    padding: 0;
                }
            };
        }
        #full{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        #info{
            display: block;
            position: relative;
            #info-content{
                position: relative;
                overflow: hidden;
            }
        }
        #comment{
            position: absolute;
            top: 100%;
            z-index: 10;
            width: 100%;
            // overflow: scroll;
        }
        .hidden{
            transform: translate(0,-100%) !important;
            padding: 0;
            margin: 0;
            transition: all .5s;
        }
        .show{
            transform: translate(0,0%);
            transition: all .5s;
        }
        .messages{
            padding-top: 10px;
            padding-bottom: 60px;
            display: block;
            width: 100%;
            position: relative;
            overflow: auto;
            div{ 
                width: 100%;
                overflow: auto;
                clear: both;
                .message{
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                    width: 95%;
                    background-color: #eee;
                    margin-bottom: 10px;
                    padding: 0;
                    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.37);
                    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.37);
                    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.37);
                    ion-row{
                        text-align: left;
                        padding: 3px;
                    }
                    .header-row{
                        background-color: white;
                        .header-info{
                            display: flex;
                            flex-direction: column;
                            p{                                
                                flex: 1;
                            }
                            .meta{
                                color: #888; 
                                font-size: .8em !important;
                            }
                        }
                    }
                    .message-row{
                        padding-top: 6px;
                        padding-bottom: 6px;
                    }
                    p{
                        margin: 0;
                    }
                }
                .newMessage{
                    animation: newMessage 1s;
                }
            }
        }
    }
}