<ion-grid no-padding *ngIf="myData.url">
  <ion-row>
    <ion-col no-padding>
        <img [src]="myData.url" width="200" alt="Placeholder"/>
    </ion-col>
    <ion-col col-auto class="likes" [class.row]="!myData.url" no-padding>
      <ion-row text-center>
          <button ion-button (click)="like(1)" full clear [class.greenButton]="likeValue == 1">
              <ion-icon name="thumbs-up"></ion-icon>
          </button>
      </ion-row>
      <ion-row text-center>
        <h3 text-center>{{myData.likes}}</h3>
      </ion-row>
      <ion-row text-center>
          <button ion-button (click)="like(-1)" full clear [class.greenButton]="likeValue == -1">
              <ion-icon name="thumbs-down"></ion-icon>
          </button>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
<p [class.noPic]="!myData.url">{{myData.description}}</p>
<ion-grid *ngIf="!myData.url">
  <ion-row>
    <ion-col>
        <button ion-button (click)="like(1)" full clear [class.greenButton]="likeValue == 1">
            <ion-icon name="thumbs-up"></ion-icon>
        </button>
    </ion-col>
    <ion-col>
        <h3 text-center>{{myData.likes}}</h3>
    </ion-col>
    <ion-col>
        <button ion-button (click)="like(-1)" full clear [class.greenButton]="likeValue == -1">
            <ion-icon name="thumbs-down"></ion-icon>
        </button>
    </ion-col>
  </ion-row>
</ion-grid>