<ion-menu side="left" type="push" [content]="mycontent" (ionOpen)="openMenu()" >
    <ion-content>
        <header text-center>
                <div class="div-holder" *ngIf="checkLogin()">
                    <button ion-button style="height: 100%" clear (click)="profile()">
                        <div *ngIf="imgSrc">
                            <img [src]="imgSrc" alt="" />
                            <h2 style="color: black">{{name}}</h2>
                        </div>
                        <div *ngIf="!imgSrc">
                            <img src="assets/profile.png" alt="" />
                            <h2 style="color: black">{{name}}</h2>
                        </div>
                    </button>
                </div>
                <div class="div-holder" *ngIf="!checkLogin()">
                    <button ion-button style="height: 100%" clear (click)="register()">
                        <div>
                            <img src="assets/profile.png" alt="Profile Image" />
                            <h2 style="color: black">{{translate.text.menu.user}}</h2>
                        </div>
                    </button>
                </div>
        </header>
        <button class="menu-button" (click)="home()">
            <ion-item [class.nav-item]="checkPage('home')">
                <ion-grid>
                    <ion-row>
                        <ion-col col-auto no-padding>
                            <img src="assets/home.png" style="height: 34px; padding: 0" alt="map" />
                        </ion-col>
                        <ion-col>
                            <p class="option">Home</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </button>
        <button class="menu-button" (click)="map()">
            <ion-item [class.nav-item]="checkPage('map')">
                <ion-grid>
                    <ion-row>
                        <ion-col col-auto no-padding>
                            <img src="assets/map.png" style="height: 34px; padding: 0" alt="map" />
                        </ion-col>
                        <ion-col>
                            <p class="option">{{translate.text.menu.map}}</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </button>
        <button class="menu-button" (click)="reports()">
            <ion-item [class.nav-item]="checkPage('reports')">
                <ion-grid>
                    <ion-row>
                        <ion-col col-auto no-padding>
                            <img src="assets/report.png" style="height: 34px; padding: 0" alt="reports" />
                        </ion-col>
                        <ion-col>
                            <p class="option">{{translate.text.menu.reports}}</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </button>
        <button class="menu-button" (click)="topRated()">
            <ion-item [class.nav-item]="checkPage('top')">
                <ion-grid>
                    <ion-row>
                        <ion-col col-auto no-padding>
                            <img src="assets/trophy.png" style="height: 34px; padding: 0" alt="trophy" />
                        </ion-col>
                        <ion-col>
                            <p class="option">{{translate.text.menu.rankings}}</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </button>
        <button class="menu-button" (click)="settings()">
            <ion-item [class.nav-item]="checkPage('settings')">
                <ion-grid>
                    <ion-row>
                        <ion-col col-auto no-padding>
                            <img src="assets/cog.png" style="height: 34px; padding: 0" alt="trophy" />
                        </ion-col>
                        <ion-col>
                            <p class="option">{{translate.text.menu.settings}}</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </button>
    </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>
