// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.ios, .md{
    .error{
        font-style: italic;
        color: red;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .ionic-title{
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        padding: 0;
        transform: translate(0,-50%);
        ion-row{
            .title{
                font-size: 16pt;
            }
            ion-col{                
                padding: 0;
                text-align: center;
            }
        }
    }
    ion-header{
        div{
            background-color: #3fbc05;
            color: white;
        }
    }
    ion-menu{
        ion-content{
            position: relative;
            .background{
                position: relative;
                z-index: 10;
                background-color: #f48a00;
                -webkit-box-shadow: inset 0px 0px 7px 1px rgba(0,0,0,0.4);
                -moz-box-shadow: inset 0px 0px 7px 1px rgba(0,0,0,0.4);
                box-shadow: inset 0px 0px 7px 1px rgba(0,0,0,0.4);
            }
            .menu-button{
                margin: 0;
                font-size: 1.6em;
                text-align: left;
                height: 2em;
                padding: 5px;
                padding-left: 50px;
                width: 100%;
                background-color: white;
                color: #3fbc05;
            }
            .notification{
                position: absolute;
                top: 50%;
                transform: translate(0,-50%);
                left: 10px;
                padding: 5px;
                background-color: #ef2d56;
                border-radius: 8px;
                color: white;
                p{
                    height: 1em;
                    margin: 2px 0;
                }
            }
            background: rgb(6,174,213); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(6,174,213,1) 0%, rgba(8,103,136,1) 99%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(6,174,213,1) 0%,rgba(8,103,136,1) 99%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(6,174,213,1) 0%,rgba(8,103,136,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06aed5', endColorstr='#086788',GradientType=0 ); /* IE6-9 */
        }
        .image-div{
            // margin: 10px auto;
            width: 75px;
            height: 75px;
            position: relative;
            border-radius: 100%;
            overflow: hidden;
            background-size: cover;
            background-position: center center;
            background-image: url('../assets/profile.png');
            -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
        }
        .tutorial{
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%, 0);
            display: block;
            width: 80%;
            background-color: #222;
            font-weight: bold;
            margin: 0px auto;
            text-align: center;
        }
        .menu-share{
            z-index: 10;
            position: absolute;
            bottom: 60px;
            left: 50%;
            transform: translate(-50%, 0);
            display: block;
            width: 80%;
            background-color: #222;
            font-weight: bold;
            margin: 0px auto;
            text-align: center;
            transition: all .5s;
        }
        .menu-sharing{
            bottom: 120px;
            transition: all .5s;
        }
        .show-symbols{
            opacity: 1 !important;
            //transition: all .3s;
        }
        .hide-symbols{
            border-radius: 3px;
            font-weight: bold;
            background-color: white;
            z-index: 0;
            position: absolute;
            bottom: 60px;
            left: 50%;
            transform: translate(-50%, 0);
            display: block;
            width: 75%;
            margin: 0px auto;
            text-align: center;
            opacity: 0;
            transition: all .3s;
            transition-delay: .2s;
        }
    }
    .no-height{
        height: 0 !important;
    }
    header{
        position: relative;
        background-image: url(../assets/images/flag_wave.jpg);
        background-position-y: center;
        background-size: cover;
        .menu-shader{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 0;
            opacity: .8;
            background: rgb(152, 198, 255); /* Old browsers */
        }
        width: 100%;
        height: 20%;
        .div-holder{
            margin-left: auto;
            margin-right: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            z-index: 100;
            h2{
                padding: 0;
                margin: 0;
            }
        }
    }
    .nav-burg{
        height: 26px;
    }
    .nav-filter{
        height: 20px;
    }
    .nav-edit{
        height: 26px;
    }
    .nav-item{
        background-color: #3fbc05 !important;
        color: white !important;
        height: 2.2em !important;
        margin-left: 20px !important;
        border-bottom: none !important;
        -webkit-box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.4);
        -moz-box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.4);
        box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.4);
        z-index: 0 !important;
    }
    ion-col{
        .option{
            padding-left: 30px;
            font-size: 16pt;
            color: #666;
        }
    }
    #login-content{
        background: rgb(6,174,213); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(6,174,213,1) 0%, rgba(8,103,136,1) 99%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(6,174,213,1) 0%,rgba(8,103,136,1) 99%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(6,174,213,1) 0%,rgba(8,103,136,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06aed5', endColorstr='#086788',GradientType=0 ); /* IE6-9 */
    }
    .back-button{
        color: white;
    }
    button{
        padding-top: 0;
        padding-bottom: 0;
    }
    .no-scroll .scroll-content{
        overflow: hidden;
   }
   .bottom-shade{
        opacity: .5;
        pointer-events: none;
        position: absolute;
        width: calc(100%) !important;
        background-color: black;
        color: white;
        position: bottom;
        height: 2em;
        font-size: 16pt;
        text-align: center;
        z-index: 1;
        transform: translate(0,-100%);
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
    }
    .ship-button{
        display: block;
        width: 80%;
        margin: 20px auto;
        font-weight: bold;
        text-align: center;
        border-radius: 3px;
        background-color: #f48a00;
        // -webkit-box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.4);
        // -moz-box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.4);
        // box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.4);
        // background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        //         radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    }
}