<ion-menu side="left" type="push" [content]="mycontent" (ionOpen)="openMenu()" >
    <ion-content>
        <header text-center>
                <div class="div-holder" *ngIf="checkLogin()">
                    <button ion-button style="height: 100%" clear (click)="profile()">
                        <div>
                            <img [src]="imgSrc" alt="Profile Image" />
                            <h2 style="color: black">{{name}}</h2>
                        </div>
                    </button>
                </div>
                <div class="div-holder" *ngIf="!checkLogin()">
                    <button ion-button style="height: 100%" clear (click)="register()">
                        <div>
                            <img src="assets/profile.png" alt="Profile Image" />
                            <h2 style="color: black">Unknown User</h2>
                        </div>
                    </button>
                </div>
        </header>
        <ion-item (click)="map()" [class.nav-item]="checkPage('map')">
            <ion-grid>
                <ion-row>
                    <ion-col col-auto no-padding>
                        <img src="assets/map.png" style="height: 34px; padding: 0" alt="map" />
                    </ion-col>
                    <ion-col>
                        <p class="option">Map</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item (click)="reports()" [class.nav-item]="checkPage('reports')">
            <ion-grid>
                <ion-row>
                    <ion-col col-auto no-padding>
                        <img src="assets/report.png" style="height: 34px; padding: 0" alt="reports" />
                    </ion-col>
                    <ion-col>
                        <p class="option">Reports</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item (click)="topRated()" [class.nav-item]="checkPage('top')">
            <ion-grid>
                <ion-row>
                    <ion-col col-auto no-padding>
                        <img src="assets/trophy.png" style="height: 34px; padding: 0" alt="trophy" />
                    </ion-col>
                    <ion-col>
                        <p class="option">Rankings</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item (click)="settings()" [class.nav-item]="checkPage('settings')">
            <ion-grid>
                <ion-row>
                    <ion-col col-auto no-padding>
                        <img src="assets/cog.png" style="height: 34px; padding: 0" alt="trophy" />
                    </ion-col>
                    <ion-col>
                        <p class="option">Settings</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>
