.ios, .md{
    ferry-rating {
        #shader{
            width: 100vw;
            height: 100vh;
            position: absolute;
            z-index: 5;
            background-color: black;
            opacity: .7;
            transform: translate(-50%, -50%);
        }
        #main{
            border-radius: 8px;
            z-index: 10;
            display: inline-block;
            position: absolute;
            transform: translate(-50%,120%);
            background-color: white;
            //padding-top: 40px;
            width: 280px;
            height: 300px;
            @media screen and (min-device-width: 360px) {
                width: 300px;
                height: 310px;
            }
            @media screen and (min-device-width: 500px) {
                width: 400px;
                height: 350px;
                transform: translate(-50%,140%);
            }
            @media screen and (min-device-width: 800px) {
                width: 500px;
                height: 500px;
                transform: translate(-50%,150%);
            }
            transition: all .5s;
            // -webkit-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.7);
            // -moz-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.7);
            // box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.7);
            .type{
                position: absolute;
                transform: translate(0,-40%) scale(1); 
                z-index: 10;
                transition: all .5s;
                button{
                    height: auto;
                }
            }
        }
        .on-time{
            position: absolute;
            text-align: center;
            bottom: 20px;
            left: 50%;
            transform: translate(-50%, 0);
            font-weight: bold;
            font-size: 14pt;
            color: black;
        }
        .rating{
            font-size: 54pt;
            color: #666;
            font-weight: bold;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        ion-select{
            flex: 5;
            text-align: right;
            margin: 0 auto;
            max-width: 60%;
        }
        #select-div{
            width: 100%;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            ion-label{
                font-weight: bold;
            }
            ion-select{
                flex: 5;
                text-align: center;
                margin: 0 auto;
                max-width: 55%;
                .select-text{
                    text-align: left;
                }
            }
        }
        #current-time{
            padding: 25px;
            margin: 0 auto;
            text-align: center;
            span{
                color: #3fbc05;
            }
        }
        .not-type{
            width: 280px !important;
            height: 220px !important;
            @media screen and (min-device-width: 360px) {
                width: 320px !important;
                height: 240px !important;
            }
            @media screen and (min-device-width: 500px) {
                width: 450px !important;
                height: 320px !important;
            }
            @media screen and (min-device-width: 800px) {
                width: 500px !important;
                height: 360px !important;
            }
        }
        .scroll-div{
            width: 100%;
            height: 100%;
        }
        .full{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        .nav-buttons{
            // overflow: hidden;
            pointer-events: all;
            background-color: none;
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            transform: translateY(54%);
            z-index: 10;
            .button-ios, .button-md{
                z-index: 20;
                transform: translateY(0%);
                height: auto;
                padding: 0;
            }
        }
        .extraPadding{
            padding-top: 40px;
            transition: all .5s;
        }
        .noPadding{
            //padding-top: 20px;
            transition: all .5s;
        }
        .move{
            transform: translate(-50%,-50%);
            transition: all 1s;
        }
        .hidden{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scale(0);
            transition: all .5s;
        }
        .show{
            transform: scale(1);
            transition: all .5s;
        }
    }
}