.ios, .md{
    create {
        ion-col{
            p{
                position: absolute;
                pointer-events: none;
                bottom: 0;
                color: gray;
                left: 50%;
                font-size: 14pt;
                transform: translate(-50%, 0%);
                font-weight: bold;
            }
        }
        .add-photo{
            position: absolute;
            width: 100%;
            transform: translate(0, -200%);
            text-align: center;
            color: #333;
            font-style: italic;
            font-weight: 100;
            font-size: 14pt;
            z-index: 100;
        }
        .text-field{
            font-size: 1em;
        }
        .top{
            margin-top: 20px;
        }
        .button-ios, .button-md{
            height: auto;
            padding: 0;
        }
        .absolute{
            top: 0;
            float: left;
            position: absolute;
            margin: 0 auto;
            text-align: center;
            width: 110% !important;
            .slide-image{
                padding: 40px;
            }           
        }
        ion-slides{
            .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
                bottom: 0px;
            }
        }
        .fileInput{
            width: .1px;
            height: .1px;
            opacity: 0;
            z-index: -1;
        }
        .hidden{
            transform: scale(0);
            height: 0;
            padding: 0;
            margin: 0;
            position: absolute;
            opacity: 0;
        }
    }
}