<div>
    <h1 class="add-photo" *ngIf="slides.getActiveIndex() == 1 && !dataSet">Add a profile photo!</h1>
  <ion-slides [class.absolute]="dataSet" pager="false">
    <ion-slide>
      <form autocomplete="off">
        <input type="text" class="text-field top" [(ngModel)]="name" name="myName" [placeholder]="translate.text.register.name" (keyup)="checkInput(press)" autofocus/>
        <input type="email" class="text-field" [(ngModel)]="email" name="myEmail" [placeholder]="translate.text.register.email" (keyup)="checkInput(press)"/>
        <input type="password" class="text-field" [(ngModel)]="pass1" name="myPass1" [placeholder]="translate.text.register.pass1" (keyup)="checkInput(press)"/>
        <input type="password" class="text-field" [(ngModel)]="pass2" name="myPass2" [placeholder]="translate.text.register.pass2" (keyup)="checkInput(press)"/>
        <!-- <input type="text" class="text-field" [(ngModel)]="userKey" name="myKey" [placeholder]="translate.text.register.key" (keyup)="checkInput(press)"/> -->
      </form>
      <p class="error" style="color: #333" *ngIf="!error || error.length == 0">{{translate.text.register.sixChar}}</p>
      <p class="error">{{error}}</p>
    </ion-slide>
    <ion-slide>
        <ion-grid no-padding style="height: 100%" *ngIf="!dataSet">
            <ion-row [class.hidden]="userInfo.isApp">
                <ion-col col-6 text-center>
                    <label>
                        <img src="assets/new/camera.png"/>
                        <input #file type="file" accept="image/*" capture="camera" class="fileInput"/>                        
                    </label>                    
                    <p class="lower">{{translate.text.add.openCam}}</p>
                </ion-col>
                <ion-col col-6 text-center>
                    <label>
                        <img src="assets/new/album.png"/>
                        <input #file1 type="file" accept="image/*" class="fileInput"/>                        
                    </label>
                    <p class="lower">{{translate.text.add.openAlb}}</p>
                </ion-col>
            </ion-row>
            <ion-row [class.hidden]="!userInfo.isApp">
                <ion-col col-6 text-center>
                    <button ion-button clear (click)="cameraRequest()">
                        <img src="assets/new/camera.png"/>
                    </button>
                    <p>{{translate.text.add.openCam}}</p>
                </ion-col>
                <ion-col col-6 text-center>
                    <button ion-button clear (click)="albumRequest()">
                        <img src="assets/new/album.png"/>
                    </button>
                    <p>{{translate.text.add.openAlb}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div *ngIf="dataSet" class="slide-image">
          <img #thisImage (click)="presentImage(thisImage)"/>
        </div> 
    </ion-slide>
  </ion-slides>
</div>
