<div id="shader" (click)="closeOut()"></div>
<div id="main" #main>
    <ion-grid class="nav-buttons">
        <ion-row>
            <ion-col text-center>
                <button ion-button clear (click)="closeOut()">
                    <img src="assets/images/buttons/check.png" />
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div>
        <div class="thanks">
            <h2 text-center padding>{{translate.text.add.thanks}}</h2>
        </div>
    </div>
</div>