<div id="shader" (click)="notify()"></div>
<div id="main" #main [class.not-type]="state != 'type' && state != 'share'" [class.share]="state == 'share'">
  <ion-grid class="nav-buttons" *ngIf="state != 'share'">
    <ion-row>
      <ion-col text-center>
        <button ion-button clear (click)="notify()">
          <img src="assets/images/buttons/ex.png" />
        </button>
      </ion-col>
      <ion-col *ngIf="checkShow()" col-6 text-center>
        <button ion-button clear (click)="doSomething()" [disabled]="submitting">
          <img src="assets/images/buttons/check.png" />
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="nav-buttons" *ngIf="state == 'share'">
    <ion-row>
      <ion-col text-center>
        <button ion-button clear (click)="closeOut()">
          <img src="assets/images/buttons/check.png" />
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="preview-div" *ngIf="checkShow() && dataURL.length < 1" (click)="state = 'pic'" [style.background-image]="file">
    <div class="tint-holder">
      <div class="tint">
      </div>
    </div>
  </div>
  <div class="preview-div" *ngIf="checkShow() && dataURL.length > 0" (click)="state = 'pic'" [style.background-image]="dataURL">
    <div class="tint-holder">
      <div class="tint">
      </div>
    </div>
  </div>
  <div class="type-div" *ngIf="state != 'type' && state != 'share'" (click)="state = 'type'" [class.type-top]="dataSet" [style.background-image]="myType">
  </div>
  <div class="hidden" [class.show]="state == 'type'">
    <type></type>
  </div>
  <div class="hidden" [class.show]="state == 'pic'">
    <picture></picture>
  </div>
  <div class="hidden" [class.show]="state == 'confirm'">
    <confirm></confirm>
  </div>
  <div class="hidden" [class.show]="state == 'share'">
    <div class="thanks">
      <h2 text-center padding>{{translate.text.add.thanks}}</h2>
      <!-- <p text-center>{{translate.text.add.share}}</p> -->
      <!-- <ion-grid *ngIf="userInfo.isApp">
        <ion-row>
          <ion-col text-center>
            <button ion-button icon-only clear (click)='shareTwitter()'>
                <ion-icon name="logo-twitter" style="color: #00aced; font-size: 24pt"></ion-icon>
              </button>
          </ion-col>
          <ion-col text-center>
            <button ion-button icon-only clear (click)='shareFacebook()'>
                <ion-icon name="logo-facebook" style="color: #3b5998; font-size: 24pt"></ion-icon>
              </button>
          </ion-col>
          <ion-col text-center>
            <button ion-button icon-only clear (click)='shareWhatsapp()'>
                <ion-icon name="logo-whatsapp" style="color: #34af23; font-size: 24pt"></ion-icon>
              </button>
          </ion-col>
        </ion-row>
      </ion-grid> -->
    </div>
  </div>
</div>