.ios, .md{
    add {
        .share{
            height: 150px !important;
        }
        #shader{
            width: 100vw;
            height: 100vh;
            position: absolute;
            z-index: 5;
            background-color: black;
            opacity: .7;
            transform: translate(-50%, -50%);
        }
        #main{
            border-radius: 8px;
            z-index: 10;
            display: inline-block;
            position: absolute;
            transform: translate(-50%,120%);
            background-color: white;
            //padding-top: 40px;
            width: 280px;
            height: 240px;
            @media screen and (min-device-width: 360px) {
                width: 300px;
                height: 260px;
            }
            @media screen and (min-device-width: 500px) {
                width: 400px;
                height: 300px;
                transform: translate(-50%,140%);
            }
            @media screen and (min-device-width: 800px) {
                width: 500px;
                height: 320px;
                transform: translate(-50%,150%);
            }
            transition: all .5s;
            // -webkit-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.7);
            // -moz-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.7);
            // box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.7);
        }
        .not-type{
            width: 280px !important;
            height: 220px !important;
            @media screen and (min-device-width: 360px) {
                width: 320px !important;
                height: 240px !important;
            }
            @media screen and (min-device-width: 500px) {
                width: 450px !important;
                height: 320px !important;
            }
            @media screen and (min-device-width: 800px) {
                width: 500px !important;
                height: 360px !important;
            }
        }
        .scroll-div{
            width: 100%;
            height: 100%;
        }
        .full{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        ion-slides{
            width: 100%;
            height: 100%;
            ion-slide{
                height: 100%;
                width: 100%;
            }
            .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
                bottom: 0px;
            }
        }
        .nav-buttons{
            // overflow: hidden;
            pointer-events: all;
            background-color: none;
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            transform: translateY(54%);
            z-index: 10;
            .button-ios, .button-md{
                z-index: 20;
                transform: translateY(0%);
                height: auto;
                padding: 0;
            }
        }
        .hidden{
            transform: scale(0);
            transition: all .5s;
        }
        .show{
            transform: scale(1);
            transition: all .5s;
        }
        .extraPadding{
            padding-top: 40px;
            transition: all .5s;
        }
        .noPadding{
            //padding-top: 20px;
            transition: all .5s;
        }
        .move{
            transform: translate(-50%,-50%);
            transition: all 1s;
        }
        .thanks{
            padding: 10px;
            h2{
                border-radius: 4px;
                background-color:#3EBC05; 
                color: white;
                text-align: center;
            }
            p{
                color: #666;
                text-align: center;
            }
        }
        .preview-div{
            //background-image: url("../assets/images/flag_wave.jpg");
            width: 100%;
            height: 66%;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(0, -50%);
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            z-index: 50;
            background-position: center center;
            background-size: cover;
            .tint-holder{
                height: 100%;
                width: 100%;
                position: relative;
            }
            .tint{
                width: 100%;
                height: 33%;
                transform: translate(0,-100%);
                background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%);
                background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%);
                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
                opacity: .7;
                position: absolute;
                left: 0;
                bottom: 0;
                transform: translate(0,0%);
                z-index: 1;
            }
        }
        .type-div{
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(-50%, -50%);
            height: 3em;
            width: 3em;
            border-radius: 100%;
            background-color: color($colors,main);
            background-position: center center;
            background-size: cover;
            z-index: 100;
            transition: .5s all;
        }
        .type-top{
            top: -33% !important;
            transition: .5s all;
        }
        .hidden{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scale(0);
            transition: all .5s;
        }
        .show{
            transform: scale(1);
            transition: all .5s;
        }
    }
}