.ios, .md{
    add {
        width: auto;
        .dismiss{
            display: table;
            position: absolute;
            z-index: 12;
            background-color: red;
            color: white;
            right: 0;
            top: 0;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            text-align: center;
            padding: 4px;
            transform: translate(50%,-50%);
            p{
                position: relative;
                display: table-cell;
                text-align: center;
                vertical-align: middle;
            }
        }
        #shader{
            width: 100vw;
            height: 100vh;
            position: absolute;
            z-index: 5;
            background-color: black;
            opacity: .7;
            transform: translate(-50%, -50%);
        }
        #main{
            z-index: 10;
            display: inline-block;
            position: absolute;
            transform: translate(-50%,120%);
            background-color: white;
            //padding-top: 40px;
            width: 280px;
            height: 400px;
            @media screen and (min-device-width: 360px) {
                width: 300px;
                height: 420px;
            }
            @media screen and (min-device-width: 500px) {
                width: 400px;
                height: 540px;
                transform: translate(-50%,140%);
            }
            @media screen and (min-device-width: 800px) {
                width: 500px;
                height: 600px;
                transform: translate(-50%,150%);
            }
            transition: all .5s;
            // -webkit-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.7);
            // -moz-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.7);
            // box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.7);
        }
        .notType{
            width: 280px !important;
            height: 280px !important;
            @media screen and (min-device-width: 360px) {
                width: 300px !important;
                height: 280px !important;
            }
            @media screen and (min-device-width: 500px) {
                width: 400px !important;
                height: 360px !important;
            }
            @media screen and (min-device-width: 800px) {
                width: 500px !important;
                height: 420px !important;
            }
        }
        .scroll-div{
            width: 100%;
            height: 100%;
        }
        .full{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        ion-slides{
            width: 100%;
            height: 100%;
            ion-slide{
                height: 100%;
                width: 100%;
            }
            .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
                bottom: 0px;
            }
        }
        .nav-buttons{
            // overflow: hidden;
            pointer-events: all;
            background-color: none;
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            transform: translateY(48%);
            z-index: 10;
            .button-ios, .button-md{
                z-index: 20;
                transform: translateY(78%);
                height: auto;
                padding: 0;
            }
        }
        .hidden{
            transform: scale(0);
            transition: all .5s;
        }
        .show{
            transform: scale(1);
            transition: all .5s;
        }
        .extraPadding{
            padding-top: 40px;
            transition: all .5s;
        }
        .noPadding{
            //padding-top: 20px;
            transition: all .5s;
        }
        .move{
            transform: translate(-50%,-50%);
            transition: all 1s;
        }
        .thanks{
            padding: 10px;
            h2{
                background-color:#3fbc05; 
                color: white;
            }
            p{
                color: #666
            }
        }
    }
}