<div *ngIf="data != undefined">
    <div>
        <ion-slides *ngIf="resolves.length > 0" [pager]="resolves.length > 1">
            <ion-slide text-center *ngFor="let item of resolves">
                <div text-center class="image-holder">
                    <div>
                        <div *ngIf="item.delete" class="shader"></div>
                        <div>
                            <button ion-button clear class="slide-x" (click)="deleteResolve(item)">X</button>
                        </div>
                        <div class="slide-div">
                            <img [src]='item.url' #thisImage (click)="presentImage(thisImage)" />
                        </div>
                        <div class="status">
                        </div>
                    </div>
                </div>
                <p *ngIf="item.info.length > 0">{{item.info}}</p>
            </ion-slide>
        </ion-slides>
    </div>
    <ion-card padding-bottom>
        <ion-item>
            <ion-label floating class="green-text">{{translate.text.editPost.description}}</ion-label>
            <ion-input type="text" style="border-bottom: solid black 1px" [(ngModel)]="data.description" (click)="descriptionClick()"
                autocorrect="on"></ion-input>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item>
            <ion-label>{{translate.text.editPost.type}}</ion-label>
            <ion-select [(ngModel)]="data.type" (click)="typeClick()">
                <ion-option value="bugs">{{translate.text.other.bug}}</ion-option>
                <ion-option value="pest">{{translate.text.other.pest}}</ion-option>
                <ion-option value="trash">{{translate.text.other.trash}}</ion-option>
                <ion-option value="building">{{translate.text.other.building}}</ion-option>
                <ion-option value="cnd">{{translate.text.other.cnd}}</ion-option>
                <ion-option value="water">{{translate.text.other.water}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item>
            <ion-label>{{translate.text.editPost.status}}</ion-label>
            <ion-select [(ngModel)]="data.status" (click)="statusClick()">
                <ion-option value="To Do">{{translate.text.other.todo}}</ion-option>
                <ion-option value="Complete">{{translate.text.other.complete}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item>
            <ion-label>{{translate.text.editPost.show}}</ion-label>
            <ion-checkbox [(ngModel)]="data.show"></ion-checkbox>
        </ion-item>
    </ion-card>

    <ion-item>
        <p class="green-text">{{translate.text.editPost.change}}</p>
        <ion-grid no-padding>
            <ion-row>
                <ion-col text-center no-padding [class.no-height]="!dataSet">
                    <img width="100px" #preview (click)="presentImage(preview)"/>
                </ion-col>
            </ion-row>
            <ion-row [class.hidden]="userInfo.isApp">
                <ion-col col-6 text-center>
                    <label>
                        <img src="assets/new/camera.png" style="width: 55px; padding-right: 10px;" />
                        <input #file type="file" accept="image/*" capture="camera" class="fileInput"/>
                    </label>
                    <p>{{translate.text.add.openCam}}</p>
                </ion-col>
                <ion-col col-6 text-center>
                    <label>
                        <img src="assets/new/album.png" style="width: 55px; padding-right: 10px;" />
                        <input #file1 type="file" accept="image/*" class="fileInput"/>
                    </label>
                    <p>{{translate.text.add.openAlb}}</p>
                </ion-col>
            </ion-row>
            <ion-row [class.hidden]="!userInfo.isApp">
                <ion-col col-6 no-padding>
                    <button ion-button block clear style="color: black;" (click)="cameraRequest()">
                            <img src="assets/new/camera.png" style="width: 55px; padding-right: 10px;" alt="Camera" />
                        </button>
                        <p>{{translate.text.add.openCam}}</p>
                </ion-col>
                <ion-col col-6 no-padding>
                    <button ion-button block clear style="color: black;" (click)="albumRequest()">
                            <img src="assets/new/album.png" style="width: 55px; padding-right: 10px;" alt="Album" />
                        </button>
                        <p>{{translate.text.add.openAlb}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>

    <div text-center padding-top>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <button ion-button color="secondary" block (click)="submit()" style="padding: 0 10px">
                        {{translate.text.editPost.submit}}
                    </button>
                </ion-col>
                <ion-col>
                    <button ion-button color="danger" block (click)="delete()" style="padding: 0 10px">
                        {{translate.text.infoWindow.delete}}
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <p class="error">{{error}}</p>
</div>