@keyframes rotate {
    0%      {transform: translate(-50%,-50%) rotate(90deg);}
    100%    {transform: translate(-50%,-50%) rotate(0deg);}
}
.ios, .md{
    edit-view {
        .green-text{
            color: green;
        }
        .red-text{
            color: red;
        }
        .image-holder{
            max-width: 100%;
            max-height: 100%;
        }
        .slide-div{
            position: relative;
            width: 100%;
            display: block;
            height: 8em;
            overflow: hidden;
            img{
                position: absolute;
                width: 100%;
                max-height: none !important;
                display: block;
            }
        }   
        .status{
            pointer-events: none;
            position: absolute;
            width: calc(100%) !important;
            background-color: black;
            color: white;
            position: bottom;
            height: 2em;
            font-size: 16pt;
            text-align: center;
            z-index: 1;
            transform: translate(0,-100%);
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%);
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
        }
        .slide-x{
            margin: 0;
            width: 1.5em;
            height: 2em;
            background-color: red;
            color: white;
            position: absolute; 
            top:0; 
            right: 0;
            z-index: 10;
            border-radius: 0;
        }
        .shader{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 100;
            background-color: red;
            opacity: .5;
        }
        .fileInput{
            width: .1px;
            height: .1px;
            opacity: 0;
            z-index: -1;
        }
        .hidden{
            transform: scale(0);
            height: 0;
            padding: 0;
            margin: 0;
            position: absolute;
            opacity: 0;
        }
        .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
            bottom: 0px;
        }
        .text-area{
            padding: 0 !important;
            ion-item{
                padding: 5px;
                .item-inner{
                    padding: 0
                }
                ion-label{
                    padding-left: 5px;
                }
                ion-input{
                    padding: 5px;
                    //border-bottom: solid 1px #ddd;
                }
            }            
        }
        .color-grid{
            padding: 0;
            .select{
                display: inline-block;
                padding: 0px;
                border-radius: 100%;
                width: 28px;
                height: 28px;                
                .color-holder{
                    border-radius: 100%;
                    width: 100%;
                    height: 100%;
                    border: 3px solid black;
                }
            }
            .select-border{
                -webkit-box-shadow: 0px 0px 10px 2px rgba(63, 188, 5,1) !important;
                -moz-box-shadow: 0px 0px 10px 2px rgba(63, 188, 5,1) !important;
                box-shadow: 0px 0px 10px 2px rgba(63, 188, 5,1) !important;
            }
        }
        .check-input{
            position: relative;
            display: flex;
            flex-direction: row;
            padding: 5px 0;
            .num-holder{
                padding: 0;
                padding-left: 5px;                    
                ion-input{
                    text-align: center;
                    height: 100%;
                    width: 60px;
                    margin: 0;
                    input{
                        text-align: center;
                    }
                }
            }
            .remove{
                vertical-align: middle;
                display: inline-block;
                position: relative;
                height: 100%;
                width: 40px;
                .image-holder{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 20px;
                    height: 20px;
                    background-color: red;
                    border-radius: 100%;
                    ion-icon{
                        position: absolute;
                        font-size: 1.5em;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        color: white;
                        animation: rotate .5s;
                    }
                }
            }
            ion-input{
                flex: 1;
                vertical-align: middle;
                display: inline-block;
                border: solid 1px #ddd;
                .text-input{
                    margin: 5px 10px;
                    padding-right: 10px;
                }
            }
        }
        .hidden{
            display: none;
        }
        .add{
            background-color: #3fbc05;
            width: 30px;
            height: 30px;                
            border-radius: 100%;
            padding: 0;
            margin: 0 auto;
            text-align: center;
            ion-icon{
                font-size: 1.5em;
            }
        }
        .add-row{
            .left-padding{
                padding-left: 5px;
            }
            .number{
                width: 60px;
                text-align: left;
                padding: 0;
                margin: 0;
                height: 100%;
                font-size: 0;
                .changer{
                    display: inline-block;
                    vertical-align: top;
                    margin: 0;
                    padding: 0;
                    height: 100%;
                    width: 50%;
                    color: black;
                    font-size: 18px;
                    text-align: center;
                }
            }
        }
    }
}
