<div>
    <!-- Position Drop Down -->
    <div id="drop-down" [class.up]="!dropDown">
        <div class="info-grid" *ngIf="userInfo.activeData != {} && userInfo.activeData" [class.top-padding]="userInfo.isApp">
            <div class="map-info-col">
                <!-- <div class="map-status">
                    <p class="p-status">{{translateStatus(userInfo.activeData.status)}}</p>
                </div> -->
                <h2 class="h2-type">{{translateType(userInfo.activeData.type)}}</h2>
                <p class="p-description" *ngIf="userInfo.activeData.description">
                    {{userInfo.activeData.description}}
                </p>
            </div>
            <div class="div-image" [style.background-image]="'url(' + userInfo.activeData.url + ')'">
                <img [src]="userInfo.activeData.url" class="invisable" #thisImage (click)="presentImage(thisImage)" />
            </div>
        </div>
        <ion-grid class="button-grid" [class.grid-hidden]="!dropDown">
            <ion-row>
                <ion-col>
                </ion-col>
                <!-- <ion-col col-3 *ngIf="userInfo.isApp">
                    <button ion-button (click)="doShare()">
                        <ion-icon name="hammer"></ion-icon>
                        <span>{{translate.text.other.share}}</span>
                    </button>
                </ion-col> -->
                <ion-col col-4>
                    <button ion-button (click)="openResolve()">
                        <!-- <ion-icon name="hammer"></ion-icon> -->
                        <span>{{translate.text.map.fix}}</span>
                    </button>
                </ion-col>
                <ion-col col-3>
                    <button ion-button (click)="openChat(false)">
                        <ion-icon name="chatbubbles"></ion-icon>
                    </button>
                </ion-col>
                <ion-col col-3>
                    <button ion-button (click)="like(false)" *ngIf="userInfo.activeData != {}" [disabled]="deactivate">
                        <div class="likeValue" [class.show-like]="likeValue">
                            <p>+{{likes}}</p>
                        </div>
                        <ion-icon name="thumbs-up" [class.show]="!likeValue" [class.hidden]="likeValue"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <!-- Ship Drop Down -->
    <div id="ship-drop-down" [class.up]="!shipDrop">
        <div class="info-grid" *ngIf="userInfo.activeShipData != {} && userInfo.activeShipData" [class.top-padding]="userInfo.isApp">
            <div class="map-info-col">
                <div text-right class="ship-name">
                    <h2 class="h2-type" *ngIf="userInfo.activeShipData">{{shipName()}}</h2>
                    <p>{{translate.text.shipInformation.depTime}} <span>{{getTime()}}</span></p>
                </div>
                <h2 class="h2-type" *ngIf="myActiveShipData">{{translate.text.shipInformation.to}} {{getName(myActiveShipData.end)}}</h2>
                <p class="p-description" *ngIf="myActiveShipData">
                    {{translate.text.shipInformation.from}} {{getName(myActiveShipData.start)}}
                </p>
            </div>
        </div>
        <ion-grid class="button-grid" [class.grid-hidden]="!shipDrop">
            <ion-row>
                <ion-col col-4>
                    <button *ngIf="userInfo.activeShipData && afAuth.auth.currentUser && afAuth.auth.currentUser.uid === userInfo.activeShipData.id" ion-button (click)="mapPage.editShip = true">
                        <span>{{translate.text.map.edit}}</span>
                    </button>
                </ion-col>
                <ion-col col-4>
                    <button ion-button (click)="openChat(true)">
                        <ion-icon name="chatbubbles"></ion-icon>
                    </button>
                </ion-col>
                <ion-col col-4>
                    <button ion-button (click)="like(true)" *ngIf="userInfo.activeShipData != {}" [disabled]="deactivate">
                        <div class="likeValue" [class.show-like]="likeValue">
                            <p>+{{likes}}</p>
                        </div>
                        <ion-icon name="thumbs-up" [class.show]="!likeValue" [class.hidden]="likeValue"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <!-- map buttons -->
    <div class="top-div nav-div-left" [class.top]="userInfo.isApp">
        <button (click)="openMenu()">
            <div class="nav-button orange">
                <img class="hamburg" src="assets/hamburger.png" alt="nav" />
            </div>
        </button>
    </div>
    <div class="top-div nav-div-right" [class.top]="userInfo.isApp">
        <button (click)="mapPage.ferryMenuShow = true">
            <div class="nav-button orange">
                <img class="cog" src="assets/ferry.png" alt="nav" />
            </div>
        </button>
    </div>

    <div class="nav-div filter" (click)="openFilter()" [class.extra-top]="userInfo.isApp">{{translate.text.filter.filter}}...</div>
    <div class="nav-div nav-div-left">

    </div>
    <div class="nav-div nav-div-right">
        <button (click)="toggleMap()">
            <div class="nav-button green">
                <img class="toggle" *ngIf="!hybrid" src="assets/images/buttons/toggle_sattelite.png" alt="nav" />
                <img class="toggle" *ngIf="hybrid" src="assets/images/buttons/toggle_roads.png" alt="nav" />
            </div>
        </button>
        <button (click)="setCenter()">
            <div class="nav-button green">
                <img class="cog" src="assets/target.png" alt="nav" />
            </div>
        </button>
    </div>
    <div class="nav-div nav-div-left" *ngIf="!userInfo.isApp">
        <button (click)="zoom(1)">
            <div class="nav-button green">
                <img class="cog" src="assets/zoom_in.png" alt="nav" />
            </div>
        </button>
        <button (click)="zoom(-1)">
            <div class="nav-button green">
                <img class="cog" src="assets/zoom_out.png" alt="nav" />
            </div>
        </button>
    </div>
    <div id="center-div" *ngIf="isLoggedIn()">
        <div id="center-point">
            <img src="assets/location_marker.png" alt="Drop Position" [class.hidden]="!showButtons" [class.show]="showButtons" />
        </div>
    </div>
    <div id="controls" *ngIf="isLoggedIn()">
        <div class="button-center add">
            <button class="add-type" (click)="mapPage.addShow = true" [class.hidden]="!showButtons" [class.show]="showButtons">
                <img src="assets/images/buttons/plus.png" alt="Plus" width="60" />
            </button>
        </div>
    </div>
    <div #map id="map" (mousedown)="mapTouch()"></div>
</div>