.ios, .md{
    map-view {
        .filter{
            position: absolute;
            width: 40%;
            left: 50%;
            transform: translate(-50%, 0%);
            height: 30px;
            padding-top: 5px;
            font-size: 12pt;
            padding-left: 10px;
            border-radius: 10px;
            background-color: black;
            opacity: .7;
            color: white;
            z-index: 10;
            top: 30px;
        }
        .extra-top{
            top: 45px !important;
        }
        button{
            span{
                font-weight: bold;
            }
        }
        @media screen and (min-device-width: 360px) {                    
            .h2-type{ font-size: 18pt !important;}
            .p-description{ font-size: 9.5pt !important;}                    
            .p-status{ font-size: 9pt !important;}
            .div-image{
                width: 80px !important;
                height: 80px !important;
            }
        }
        @media screen and (min-device-width: 500px) {
            .info-grid{
                ion-row{
                    ion-col{ padding: 20px !important;}
                }
            }
            .h2-type{ font-size: 26pt !important; }
            .p-description{ font-size: 15pt !important;}                    
            .p-status{font-size: 12pt !important;}
            .map-status{
                bottom: 20px !important;
                left: 20px !important;
            }
            .div-image{
                width: 120px !important;
                height: 120px !important;
            }
        }
        @media screen and (min-device-width: 800px) {
            .info-grid{
                ion-row{
                    ion-col{ padding: 40px !important;}
                }
            }
            .h2-type{ font-size: 32pt !important; }
            .p-description{ font-size: 20pt;}                    
            .p-status{ font-size: 14pt;}
            .map-status{
                bottom: 40px !important;
                left: 40px !important;
            }
            .div-image{
                width: 160px !important;
                height: 160px !important;
            }
        }
        .greenButton{
            color: limegreen;
        }
        #ship-drop-down{
            .p-description{
                width: auto !important;
                font-size: 12pt !important;
                margin-top: 5px;
            }
            .ship-name{
                right: 20px;
                position: absolute;
                color: #ccd !important;
                p{
                    color: white;
                    margin-top: 5px;
                    span{
                        color: #1f9c05;
                    }
                }
            }
            height: 16vh !important;
        }
        #ship-drop-down, #drop-down{
            padding-top: 20px;
            color: white;
            top: 0;
            position: absolute;
            z-index: 10;
            width: 100%;
            background-color: #333;
            height: 25vh;
            transform: translate(0%, 0%);
            transition: all .3s;
            .top-padding{
                padding: 20px;
            }
            .info-grid{
                width: 100%;
                height: 100%;
                padding: 10px;
                // ion-row{
                //     height: 100%;
                //     ion-col{
                //         padding: 10px;
                //     }
                    .map-info-col{
                        width: 100%;
                        text-align: left;
                        .h2-type{
                            font-size: 14pt;
                            padding: 0;
                            color: #ccc;
                            margin: 0;
                        }
                        .map-status{
                            position: absolute;
                            bottom: 10px;
                            left: 10px;
                            .p-status{
                                font-size: 7.5pt;
                                height: 1em;
                                margin: 0;
                            }
                        }
                        .p-description{
                            color: #ccc;
                            width: 70%;
                            font-size: 7.5pt;
                        }
                    }
                    // .map-image-col{
                    //     height: 100%;                      
                    //     text-align: center;
                        .div-image{
                            position: absolute;
                            right: 20px;
                            top: 50%;
                            transform: translate(0,-50%);
                            width: 70px;
                            height: 70px;
                            overflow: hidden;
                            border-radius: 100%;
                            // background-position: center center;
                            // background-size: cover;
                            -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
                            -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
                            box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
                            background-color: black;
                            z-index: 10;
                            .report-image{
                                z-index: 0;
                                width: 100%;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    //}
                //}
            }
            .button-grid{
                width: 100%;
                position: absolute;
                bottom: 0;
                right: 0;
                transform: translate(0, 50%) scale(1);
                transition: all .5s;
                ion-row{
                    ion-col{
                        padding: 0;
                        text-align: center;
                        button{
                            position: relative;
                            padding: 0;
                            height: 3em;
                            border-radius: 1.5em;
                            width: 80%;  
                            max-width: 150px;
                            background-color: rgb(8,103,136);
                            overflow: hidden;
                            ion-icon{
                                font-size: 2em;
                            }                          
                        }
                        .clicked{
                            background-color: #3fbc05;
                        }
                        .likeValue{
                            z-index: 10;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%) scale(0);
                            width: 160px;
                            height: 160px;
                            border-radius: 100%;
                            background-color: #3fbc05;
                            position: absolute;
                            transition: all .5s; 
                            p{
                                position: absolute;
                                color: white;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                font-size: 2em;
                                height: 1em;
                                padding: 0;
                                margin: 0;
                            }
                        }
                        .show-like{
                            transform: translate(-50%, -50%) scale(1) !important;
                            transition: all .5s; 
                        }
                    }
                }
            }
            .grid-hidden{
                transform: translate(0, 50%) scale(0) !important;
                transition: all .5s;
            }
        }
        .up{
            transform: translate(0%, -100%) !important;
            transition: all .3s;
        }
        #map{
            width: 100%;
            height: 100%;
        }
        #controls{
            
            button{
                padding: 0 !important;
            }
            .padding-top{
                text-align: center;
                margin: 0 auto;
                padding-top: 5px;
            }
            #add-button{
                background: none;
                height: 48px;
                width: 75px;
                background-image: url(../assets/images/buttons/button.png);
            }
            #add-button:active{
                background-image: url(../assets/images/buttons/button-active.png);
            }
            position: absolute;
            overflow: hidden;
            width: 100%;
            bottom: 0;
            z-index: 1;    
            .button-center{
                padding-top: 5px;
                margin: 0 auto;
                margin-top: 5px;
                text-align: center;
                display: block;
                .add-type{
                    padding: none !important;
                    background: none;
                    display: inline-block;
                    position: relative;
                    text-align: center;
                }
                .symbol{
                    position: absolute;
                    z-index: 100;
                    width: 40px;
                    text-align: center;
                    left:50%;
                    top: 45%;
                    transform: translate(-50%,-50%);
                    margin: 0 auto;
                }
            }
            .button-add{
                height: 85px;
                border-top: 1px solid white;
                transition: height .5s ease;
            }
            .button-none{
                height: 0;
                border-top: 1px solid white;
                transition: height .5s ease;
            }
        }
        #center-point{
            pointer-events:none; 
            width: 30px;
            border-radius: 100%;
            position: absolute;
            z-index: 100;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .green{
            background-color: #3fbc05;
        }
        .green:active{
            background-color: #1f9c05;
        }
        .orange{
            background-color: #f48a00;
        }
        .orange:active{
            background-color: #d46a00;
        }
        .nav-div{
            bottom: 10px;
            position: absolute;
            z-index: 5;
            button{
                display: block;
                background: none;
            }
        }
        .top-div{
            top: 15px;
            position: absolute;
            z-index: 5;
            button{
                display: block;
                background: none;
            }
        }
        .nav-div-right{
            right: 8px;
        }
        .nav-div-left{
            left: 8px;
            // .nav-button{
            //     position: relative;
            // }
        }
        .bold{
            color: white;
            font-size: 40pt;
            font-weight: bold;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .nav-button{
            position: relative;
            margin: 5px;
            border-radius: 100%;
            width: 50px;
            height: 50px;
            -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.37);
            -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.37);
            box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.37);
        }
        .hamburg{
            pointer-events:none; 
            top: 14px;
            position: relative;
            display: block;
            text-align: center;
            margin: 0 auto;
            height: 20px;
        }
        .cog{
            pointer-events:none; 
            top: 10px;
            position: relative;
            display: block;
            text-align: center;
            margin: 0 auto;
            height: 30px;
        }
        .toggle{
            pointer-events:none; 
            top: 3.1px;
            left: .1px;
            position: relative;
            display: block;
            text-align: center;
            margin: 0 auto;
            height: 44px;
            width: 44px;
            border-radius: 100%;
        }
        // .filter{
        //     pointer-events:none; 
        //     top: 14px;
        //     position: relative;
        //     display: block;
        //     text-align: center;
        //     margin: 0 auto;
        //     height: 25px;
        // }
        #map{
            width: 100%;
            height: 100vh;
        }
        .hidden{
            transform: scale(0); 
            transition: all .5s;
        }
        .show{
            transform: scale(1);
            transition: all .5s;
        }
        .top{
            top: 30px !important;
        }
    }
}