<!-- Generated template for the MapViewComponent component -->
<div>
    <!--
  <div id="drop-down" [class.up]='dropDown' [class.down]='!dropDown' (pan)="dropFalse()">
    <div class="controls-back"></div>
    <ion-grid no-padding>
        <ion-row class="button-row">
            <ion-col text-center *ngIf="isLoggedIn()" class="border-right">
                <ion-row>
                    <ion-col no-padding>
                        <button ion-button (click)="like(1)" full clear [class.greenButton]="likeValue == 1">
                            <ion-icon name="thumbs-up"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col no-padding>
                        <button ion-button (click)="like(-1)" full clear [class.greenButton]="likeValue == -1">
                            <ion-icon name="thumbs-down"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col text-center>
                <button ion-button color="secondary" full clear (click)="doInfoWindow(myActiveData)">
                    {{translate.text.map.go}}
                </button>
            </ion-col>
            <ion-col text-center *ngIf="isLoggedIn()" class="border-left">
                <button ion-button full clear (click)="doChat()">
                    <ion-icon name="chatboxes"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div style="pointer-events:none; ">
        <h2 text-center padding-top *ngIf="myActiveData.type" style="vertical-align: middle">
            <img *ngIf="myActiveData.url" [src]="myActiveData.url" alt='User Image' width="50px" style="vertical-align: middle"/>
            {{type}}
        </h2>
        <h3 text-center style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%)"><ion-icon name="star" style="color: gold"></ion-icon>{{myActiveData.likes}}</h3>
    </div>
  </div>
-->
  <div class="nav-div nav-div-left">
      <button (click)="openMenu()">
          <div class="nav-button orange">
              <img class="hamburg" src="assets/hamburger.png" alt="nav"/>
          </div>
      </button>
      <button (click)="toggleMap()">
          <div class="nav-button green">
              <img class="cog" src="assets/images/buttons/toggle_02.png" alt="nav"/>
          </div>
      </button>
  </div>
  <div class="nav-div nav-div-right">
      <button (click)="setCenter()">
          <div class="nav-button green">
              <img class="cog" src="assets/target.png" alt="nav"/>
          </div>
      </button>
      <button (click)="openFilter()">
          <div class="nav-button orange">
              <img class="filter" src="assets/images/buttons/filter.png" alt="nav"/>
          </div>
      </button>
  </div>
  <div id="center-div" *ngIf="isLoggedIn() && edit()">
      <div id="center-point">
          <img src="assets/location_marker.png" alt="Drop Position" />
      </div>
  </div>
  <div id="controls" (pan)="addFalse()" *ngIf="isLoggedIn() && edit()">
      <!--<div class="controls-back"></div>-->
      <!--
      <div class="button-center" class="padding-top">
          <button id="add-button" (click)="doAdd()"></button>
      </div>
  -->
      <!-- <div class="button-center" [class.button-add]="add" [class.button-none]="!add"> -->
      <div class="button-center add">
          <button class="add-type" (click)="doAdd()">
              <img src="assets/images/buttons/plus.png" alt="Trash" width="60"/>
          </button>
          <!--
          <button class="add-type" (click)="addPage('bugs')">
              <img src="assets/images/buttons/bug.png" alt="Bugs" width="60"/>
          </button>
          <button class="add-type" (click)="addPage('pest')">
              <img src="assets/images/buttons/pest.png" alt="Pest" width="60"/>
          </button>
          <button class="add-type" (click)="addPage('building')">
              <img src="assets/images/buttons/building.png" alt="Building" width="60"/>
          </button>
          <button class="add-type" (click)="addPage('cnd')">
              <img src="assets/images/buttons/cnd.png" alt="Stray" width="60"/>
          </button>
        -->
      </div>
  </div>
  <div #map id="map"></div>
</div>
