<div id="shader" (click)="closeOut()"></div>
<div id="main" #main>
    <h2 text-center>{{translate.text.shipMenu.title}}</h2>
    <ion-grid class="nav-buttons">
        <ion-row>
            <ion-col text-center>
                <button ion-button clear (click)="closeOut()">
                    <img src="assets/images/buttons/ex.png" />
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="ferry-menu-buttons">
        <button class="ferry-menu-button" (click)="doMark()">{{translate.text.shipMenu.report}}</button>
        <button class="ferry-menu-button" (click)="doSchedule()">{{translate.text.shipMenu.schedule}}</button>
        <button class="ferry-menu-button" (click)="doRating()">{{translate.text.shipMenu.punctual}}</button>
    </div>    
</div>